<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Full Motion</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body id="top">
	
	
	<div align="center">
		<h4>
			<font face="Times New Roman" size="8" color="white">ALBUM:<span th:text="${album.titolo}"></span></font>
		</h4>
	</div>
	<div align="center">
		<ul>
			<li th:each="fotografia:${fotografie}"><font face="Times New Roman" size="4" color="white"><a
				th:href="@{'/fotografo' + '/' + ${fotografo.id} + '/album' + '/' + ${album.id}
				+'/fotografia'+'/'+${fotografia.id}}"
				th:text="${fotografia.titolo}">titolo pieri</a></font></li>
		</ul>
	</div>
	<div align="center"><a
				th:href="@{'/fotografo' + '/' + ${fotografo.id}}"><button type = "submit">Torna Indietro</button></a></div>
				
	

</body>
</html>



