

<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	
<head>
<title>Full Motion</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body id="top">

   <div align="center">
   <table border="1">
   <tr>
   <td align="left"> <a th:href = "@{'/'}"><button type = "submit">Indietro</button></a></td>
   
   
   
   </tr>
   </table>
	<div>
		<span style="font-size:100px;"><b>Fotografi</b></span>
	</div>
	<div>
		<ul>
			<li th:each="fotografo:${fotografi}"><span style="font-size:20px;"><a
				th:href="@{'/fotografo' + '/' + ${fotografo.id}}"
				th:text="${fotografo.nome+' '+ fotografo.cognome}">Francesco
					Foresi</a></span>
		</ul>
	</div>
</div>

</body>
</html>