<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Full Motion</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body id="top">

	<div align="center">
		<font face="Times New Roman" size="8" color="white">Queste sono le foto che hai selezionato:</font>
	</div>
	<div align="center">
	<div>
		<ul>
			<li th:each="fotografia:${listaFotografie}"><font face="Times New Roman" size="4" color="white"><a
				th:text="${fotografia.titolo + fotografia.id}">titolo</a></font></li>
		</ul>
	</div>
	<div>
			<form th:action="@{'/conferma'+'/richiesta'+'/'+${richiesta.id}}" method="POST"
			th:object="${richiesta}">
			<table>
				<tr>
					<td>NOME:</td>
					<td><input type="text" th:field="*{nomeDestinatario}"></td>
					<td th:if="${#fields.hasErrors('nomeDestinatario')}" th:errors="*{nomeDestinatario}"></td>
				</tr>
				<tr>
					<td>COGNOME:</td>
					<td><input type="text" th:field="*{cognomeDestinatario}"></td>
					<td th:if="${#fields.hasErrors('cognomeDestinatario')}" th:errors="*{cognomeDestinatario}"></td>
				</tr>
				<tr><td><button
				type="submit">Conferma Richiesta</button></td></tr>
			</table>
			</form>
	</div>
	<br>
	<br>
	<br>
	<br>
	
	<div>
	<a th:href="@{/}"><button
				type="submit">Annulla Richiesta</button></a></div>

</div>
</body>
</html>



