<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<body>
	<div>
		<h4>Queste sono le foto che hai selezionato:</h4>
	</div>
	<div>
		<ul>
			<li th:each="fotografia:${listaFotografie}"><a
				th:text="${fotografia.titolo + fotografia.id}">titolo</a></li>
		</ul>
	</div>
	<div>
		<a th:href="@{'/conferma'+'/richiesta'+'/'+${richiesta.id}}">Conferma Richiesta</a>
	</div>
	<div>
	<a th:href="@{'/annulla'+'/richiesta'+'/'+${richiesta.id}}">Annulla Richiesta</a></div>


</body>
</html>



