<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Full Motion</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body id="top">
	<div>
		<h4>
			FOTOGRAFIA <span th:text="${fotografia.titolo}"></span>
			INSERITA CORRETTAMENTE NEL CARRELLO
			Richiesta n.<span
				th:text="${richiesta.id}"></span>)!
		</h4>
	</div>

	<div>
		<a
			th:href="@{'/gallery'+'/'+${richiesta.id}}">Torna
			Indietro</a>

	</div>


</body>
</html>