<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Full Motion</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body id="top">
<div align="center" >
<span style="font-size:100px;"><b>Contatti</b></span>
</div>
<br>
<br>
<br>

<div align="center" ><img th:src="@{/images/contatti2.jpg}" width="1000" height="350"></div>
<br>
<br>
<br>
	<div align="center">
		<a
			th:href="@{'/'}"><button type = "submit">Torna indietro</button></a>
	</div>

</body>
</html>