<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<body>
<div><h3><span th:text = "${confermaInserimentoAlbum}"></span></h3></div>
	<div>
		<h4>FOTOGRAFO</h4>
	</div>
	<div>
		Nome: <span th:text="${fotografo.nome}">Fran</span>
	</div>
	<div>
		Cognome: <span th:text="${fotografo.cognome}">F</span>
	</div>
	<div>
		<h5>
			Gli album del fotografo: <span
				th:text="${fotografo.nome+' '+fotografo.cognome}">Francesco</span>
		</h5>
	</div>
	<div>
		<ul>
			<li th:each="album:${listaAlbum}"><a
				th:href="@{'/funzionario'+'/fotografo' + '/' + ${fotografo.id} + '/album' + '/' + ${album.id}}"
				th:text="${album.titolo}">titolo Foresi</a>
		</ul>
	</div>
	<div>
		<a
			th:href="@{'/funzionario'+'/listaFotografi'}">Torna indietro</a>
	</div>


</body>
</html>