<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Full Motion</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body id="top">
	<div align="center">
		<font face="Times New Roman" size="10" color="white">FOTOGRAFIA</font>
	</div>
	<div align="center">
	<div>
		<font face="Times New Roman" size="6" color="white">Titolo: </font><font face="Times New Roman" size="3" color="white"><span th:text="${fotografia.titolo}">Fran</span></font>
	</div>

	<div>
		<font face="Times New Roman" size="6" color="white">Titolo dell'Album:  </font><font face="Times New Roman" size="3" color="white"><span th:text="${album.titolo}">Fpieri</span></font>
	</div>
	<div>
		<font face="Times New Roman" size="6" color="white">Fotografo:  </font><font face="Times New Roman" size="3" color="white"><span th:text = "${fotografo.nome + fotografo.cognome}"></span></font>
	</div>
	<div>
	<br>
	<br>
	<br>
	<a th:href = "@{'/fotografo'+'/'+${fotografo.id}+'/album'+'/'+${album.id}+
	'/fotografia'+'/'+${fotografia.id}+'/putInRichiesta'}"><button type = "submit">Aggiungi al carrello</button></a>
	</div>
</div>

</body>
</html>