<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<body>
	<div>
		<h4>FOTOGRAFIA</h4>
	</div>
	<div>
		Titolo: <span th:text="${fotografia.titolo}">Fran</span>
	</div>

	<div>
		Titolo dell'Album:<span th:text="${album.titolo}">Francesco</span>
	</div>
	<div>
		Fotografo:<span th:text="${fotografo.nome + fotografo.cognome}"></span>
	</div>
	<div>
		<a th:href="@{'/funzionario'/fotografo'+'/'+${fotografo.id}+'/album'+'/'+${album.id}}">Torna indietro</a>
	</div>

</body>
</html>