<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<body>
	<div>
		<h4>
			Inserisci un Fotografia per l'album<span
				th:text="${album.titolo+' di '+fotografo.nome+' '+fotografo.cognome}">Franzino</span>
		</h4>
	</div>
	<div>
		<form
			th:action="@{'/fotografo'+'/'+${fotografo.id}+'/album'+'/'+${album.id}+'/aggiornato'}"
			method="POST" th:object="${fotografia}">
			<table>
				<tr>
					<td>TITOLO:</td>
					<td><input type="text" th:field="*{titolo}"></td>
					<td th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}"></td>
				</tr>
			</table>
			<button type="submit">Invia</button>
		</form>


	</div>
</body>
</html>