<!DOCTYPE HTML>
<!--
	Full Motion by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
	<head>
		<title>Full Motion</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" th:href="@{/css/main.css}" />
	</head>
	<body id="top">

	<div>
		<h4>Inserisci un Fotografo</h4>
	</div>
	<div>
		<form th:action="@{/fotografo}" method="POST"
			th:object="${fotografo}">
			<table>
				<tr>
					<td>NOME:</td>
					<td><input type="text" th:field="*{nome}"></td>
					<td th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></td>
				</tr>
				<tr>
					<td>COGNOME:</td>
					<td><input type="text" th:field="*{cognome}"></td>
					<td th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></td>
				</tr>
			</table>
			<button type = "submit">Invia</button>
		</form>
		
	</div>
