<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/html">
<head>
<title>Full Motion</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>
<body id="top">
 
 <div align="center"><font face="Times New Roman" size="8" color="white">Richiesta inserita correttamente</font>
 </div>
 <br>
 <br>
 <br>
 
<div align="center">
<a th:href = "@{/}"><button type = "submit">Torna alla home</button></a>
	</div>

</body>
</html>